  form{
            display: flexbox;
            background: rgb(223, 219, 214);
            flex-direction: column;
            align-items: center;
            margin-top:4em ;
            padding-bottom: 0em;
            margin-left: 3em;
            margin-right: 12em;
            padding-top: 1em;
        }
        .row h2{
            font-size: 5em;
            margin-top: -1em;
        }

        .container{
            margin-left: 3em;
            margin-top: -5em;
            font-family: 'Roboto', sans-serif;
        }

       .row sup{
            
            margin-top: -5em;
            font-size: 1em;
            margin-left: 14em;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        button{
            padding-top: 0.5em;
            padding-bottom: 00.5em;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            border-style: none;
            color: aliceblue;
            padding-right: 2em;
        }

        button:hover{
            color: rgb(0, 162, 255);
            



        }

        .first{
            color: #000;
          font-family: Arial, Helvetica, sans-serif;
          
        }
        .weather{
             color: yellow;
        font-weight: 32px;
        font-size: 100px
        
        
        
        }

        h2{
            font-weight: 100px;
            font-size: 50px;
            display: flex;
            margin-left: 1.7em;
            margin-top: -12em;
            font-family: 'Roboto', sans-serif;
        }

        .u{
            align-items: center;
            
            margin-left: 2.5em;
            margin-top: 9em;
            margin-bottom: 2em;
            font-weight: 25em;
            font-size: 1.5em;
            justify-content: space-around;
            
        }

        .top{
            margin-left: 28em;
            margin-top: 2em;

        }

        .long{
            font-size: 2em;
            color: azure;
            
        }

        .short{
            font-size: 2em;
            color: yellow;
        }

        .grow{
            margin-top: 9em;
        }

        .inputing{
          padding-right: 12em;    
            
        
        }

        .sub{
            margin-left: -12em;
        }